/* special style for Frame objects without borders */
.senseFrame {
    border: 0px;
    background-color: transparent;
}
/* special transparent style for see-through tag panel */
.transparent .x-tab-panel-body-top {
    background-color: transparent !important;
}
.sense-nav-selected {
	font-weight: bold;
}
.sense-nav-deselected {
    font-weight: normal;
}
/** makes all content panels have transparent backgrounds */ 
.x-panel-body {
	background-color: transparent;
}

/** style for the combo box list expanded in search results */
.search-item {
	-x-system-font:none;
	border-color:#FFFFFF #FFFFFF #EEEEEE;
	border-style:solid;
	border-width:1px;
	color:#555555;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:3px 10px;
	white-space:normal;
}

/** solid white background for Jos' Graph */
div.graph-canvas div.graph-legend {
	background-color:white;
}