/* special style for Frame objects without borders */
.senseFrame {
	border: 0px;
	background-color: transparent !important;
}

/* special transparent style for see-through tab panel */
.transparent .x-tab-panel-body-top {
	background-color: transparent !important;
}

.x-sense-nav-selected {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none !important;
}

.x-sense-nav-deselected {
	font-size: 13px;
	font-weight: normal;
	text-decoration: none !important;
}

/** makes all content panels have transparent backgrounds */
.x-panel-body {
	background-color: transparent;
}

/** style for the combo box list expanded in search results */
.search-item {
	-x-system-font: none;
	border-color: #FFFFFF #FFFFFF #EEEEEE;
	border-style: solid;
	border-width: 1px;
	color: #555555;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	padding: 3px 10px;
	white-space: normal;
}

/** solid white background for Jos' Graph */
div.graph-canvas div.graph-legend {
	background-color: white;
}

/** #loading for the initial "Loading" div that is shown before the rootpanel is filled */
#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	margin-left: -45px;
	padding: 2px;
	z-index: 20001;
	height: auto;
	border: 1px solid #ccc;
}

#loading a {
	color: #225588;
}

#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
}

#loading .loading-indicator img {
	margin-right: 8px;
	float: left;
	vertical-align: top;
}

#loading-msg {
	font: normal 10px arial, tahoma, sans-serif;
}

/* Nav bar styles */
#navigation-bar {
	border-bottom: solid 1px rgba(255, 128, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
	font-family: helvetica, arial, sans-serif;
}

#navigation-bar a {
    text-decoration: none;
    color: #555555;
}

#navigation-bar a:hover {	
    text-decoration: underline;
    color: #ff7f00;
}

/* Footer styles */
#footer-bar {
    border-top: solid 1px rgba(255, 128, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
    color: #555555;
    font-size: 11px;
    font-family: helvetica, arial, sans-serif;
}

#footer-bar a {
	color: #555555;
}

/* Banner style */
#banner-text {
	color: #555555; 
	font-family: helvetica, arial, sans-serif;
	font-size: 42px;
	font-weight: bold;
}

#banner-container {
	border: solid 1px rgba(255, 128, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.7);
}

.notification-bar {
    color: white;
    background-color: #FF7700;
    padding: 5px;
    font-weight: bold;  
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    text-align: center;
}