<?xml version="1.0" encoding="UTF-8"?>

<web-app 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  id="WebApp_ID"
  version="2.5">
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>BuildingServlet</servlet-name>
    <servlet-class>nl.sense_os.commonsense.server.BuildingServiceImpl</servlet-class>
  </servlet>
    
  <servlet>
    <servlet-name>CleanupServlet</servlet-name>
    <servlet-class>nl.sense_os.commonsense.server.CleanupServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>nl.sense_os.commonsense.server.DataServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>FloorImgServlet</servlet-name>
    <servlet-class>nl.sense_os.commonsense.server.FloorImgServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>IVOSensorTypeServlet</servlet-name>
    <servlet-class>nl.sense_os.commonsense.server.IVOSensorTypeServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>IVOSensorValueServlet</servlet-name>
    <servlet-class>nl.sense_os.commonsense.server.IVOSensorValueServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>IVOTagServlet</servlet-name>
    <servlet-class>nl.sense_os.commonsense.server.IVOTagServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>BuildingServlet</servlet-name>
    <url-pattern>/commonsense/building</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>CleanupServlet</servlet-name>
    <url-pattern>/ivo/cleanup</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/commonsense/data</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FloorImgServlet</servlet-name>
    <url-pattern>/floorupload</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>IVOSensorTypeServlet</servlet-name>
    <url-pattern>/ivo/sensortypes</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>IVOSensorValueServlet</servlet-name>
    <url-pattern>/ivo/sensorvalues</url-pattern>
  </servlet-mapping>	
    
  <servlet-mapping>
    <servlet-name>IVOTagServlet</servlet-name>
    <url-pattern>/ivo/tags</url-pattern>
  </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
