<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>dataServlet</servlet-name>
    <servlet-class>nl.sense_os.commonsense.server.DataServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dataServlet</servlet-name>
    <url-pattern>/commonsense/data</url-pattern>
  </servlet-mapping>

	<servlet>
	    <servlet-name>IVOSensorValueServlet</servlet-name>
    	<servlet-class>nl.sense_os.commonsense.server.IVOSensorValueServlet</servlet-class>
	</servlet>
    
	<servlet-mapping>
		<servlet-name>IVOSensorValueServlet</servlet-name>
		<url-pattern>/ivo/sensorvalues</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>IVOSensorTypeServlet</servlet-name>
    	<servlet-class>nl.sense_os.commonsense.server.IVOSensorTypeServlet</servlet-class>
	</servlet>
    
	<servlet-mapping>
		<servlet-name>IVOSensorTypeServlet</servlet-name>
		<url-pattern>/ivo/sensortypes</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>IVOTagServlet</servlet-name>
    	<servlet-class>nl.sense_os.commonsense.server.IVOTagServlet</servlet-class>
	</servlet>
    
	<servlet-mapping>
		<servlet-name>IVOTagServlet</servlet-name>
		<url-pattern>/ivo/tags</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>CleanupServlet</servlet-name>
    	<servlet-class>nl.sense_os.commonsense.server.CleanupServlet</servlet-class>
	</servlet>
    
	<servlet-mapping>
		<servlet-name>CleanupServlet</servlet-name>
		<url-pattern>/ivo/cleanup</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>userImageServlet</servlet-name>
        <servlet-class>nl.sense_os.commonsense.server.UserImageServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>nl.sense_os.commonsense.server.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userImageServlet</servlet-name>
        <url-pattern>/commonsense/images</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>uploadServlet</servlet-name>
       <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
