// CSS styles for javascript scrolling line graph 
div.graph-legend, div.graph-canvas {
	background-color:white;
}

.timeline-frame {
  background-color: white;
}
.timeline-frame, .timeline-axis, .timeline-groups-axis {
  border-color: #A6A6A6;
}

.graph-frame {
  background-color: white;
}
.graph-legend, .graph-axis {
  border-color: #A6A6A6;
}